{% extends 'indexbase.html' %}
{% load staticfiles %}
{% block title %} Login {% endblock %}
{% block header %}
<img src="{% static 'images/iitbxheader.png' %}"/>
<h1 class="title">
	<span class="title-super">Please log in</span>
	<span class="title-sub">to access your account </span>
</h1>
{% endblock %}
{% block form %}
<form role="form" id="login-form" method="post" action="/LGN/validatelogin/ " > 
	{% csrf_token %}
	<p>
		<strong id="st1" style="color:red; "  >  {{ error_message }} </strong>	
	</p>
	<div class="group group-form group-form-requiredinformation">
		<h2 class="sr">Required Information</h2>
		<ol class="list-input">
			<li class="field required text" id="field-email">
				<label for="email">Email</label>
				<input class="" id="email" name="email" value="" placeholder="example: username@domain.com" required="" aria-required="true" aria-described-by="email-tip" type="email" >
			</li>
			<li class="field required password" id="field-password">
				<label for="password">Password</label>
				<input id="password" name="password" value="" required="" aria-required="true" type="password" onKeyPress="return submitenter(this,event)">
			</li>
		</ol>
	</div>
	<div class="form-actions">
		<button name="submit" type="submit" id="submit" class="action action-primary action-update login-button">Log in</button>
	</div>
</form>
<div style="margin-top:15px;" >
	<h3>New User</h3>
	<p><a href="/TCH/teacher_registration" >Teacher Register Here</a></p>
	<p><a href="/TCH/admin_registration" >Admin Register Here</a></p>
	<h3><a href="/TCH/for_pass" >Forgot Password</a></h3>
	<h3>Source code available  <a href="https://github.com/rajeev001114/Grade-Recording-System" >here</a></h3>
	<h3>For any query <a href="https://graderecordingsystem.wordpress.com/" >leave comment</a></h3>
	<br>  
</div> 
{% endblock %}
{% block aside %}
<aside role="complementary">
	<div class="cta cta-help">
		<h3>New User?</h3>
		<p><a href="/createpasswordemail/" >Password Creation Email</a></p>
		<br>          
		<h3><a href={% static 'BM_User_Manaual.pdf' %} target=_blank>User Manual</a></h3>
		<br>
		<h3>Help</h3>
		<p><b>Admin</b><br> 
			eoutreach@it.iitb.ac.in<br>
			022-2576 4989</p>
			<p><b>Software</b> 
				bmwsoftwareteam@cse.iitb.ac.in <br>
				022-2576 4987
			</p>
		</div>
	</aside>
	{% endblock %}
