<!DOCTYPE html>
{% extends 'base3.html' %}
{% load staticfiles %} 
{% block header %}
{% if count > 1 %}
<header>	<a href="/ADM/view_department"  style="color:#000099; " > <h2 style="color:#000099; ">You have  {{ count }} active departments. </a></h2></header>
{% else %}
<header><h2>You have  {{ count }} active department.</h2></header>
{% endif %}
{% endblock %}
{% block body_block %}
<div id="error1">
	<strong id="st1"  >{{ error }}</strong>	
	<strong id="st2"  >{{ success }}</strong>
</div>
<style type="text/css">  
	#dpdetail{
		color:white;
		text-align:center;
		padding:5px;
		position: fixed;
		float: left;
		display: block ;
		width: 452px ;
		background-color: #FF8000;
	}
	#st1 {
		color:red;
	}
	#st2{
		color:green;
	}
</style>
<div id="lebel_div" style="margin-top:20px; width: 10% ;" >
	<select name="dpname" id="dpname" form="form1" required>
		<option value="">select department</option>
		{% for item in query_results %}
		<option value="{{ item.department_name }}"> {{ item.department_name }} </option>
		{% endfor %}
	</select> 
</div>
<div id="div3" style="float: right ;" >
	<form action="/ADM/department_management/" method="post">
		{% csrf_token %}
		<input id= "mainmenu" type="submit" value="back"    /> 
	</form>
</div>
<div id="div2" style="float: left ; margin-top:100px;  " >
	<form id="form1" action="/ADM/remove_department/" method="post">
		{% csrf_token %}
		<input id= "rmd" type="submit" value="Remove department"  /> 
	</form>
</div>
</div>
{% endblock %}     
