<!DOCTYPE html>
{% extends 'base2.html' %}
{% load staticfiles %} 
{% block header %}
<header>	 <h2 style="color:#000099; ">  </h2></header>
{% endblock %}
{% block body_block %}
<div id="dpdetail" class="row-fluid" style="margin-top:10px;  ">
	<strong > Moodle Marks  </strong>
</div>
<div id="lebel_div" style="margin-top:30px; float:left; ">
	<select name="course_id" id="policy" form="form1" required >
		<option value="">select course</option>
		{% for key, value  in query1.items %}
		<option value="{{ key }}"> {{ value }} </option>
		{% endfor %}
	</select> 
	<div id="div2" style="float: right ; margin-left:100px;  " >
		<form action="/TCH/" method="post">
			{% csrf_token %}
			<input id= "mainmenu" type="submit" value="main menu"    /> 
		</form>
	</div>
	<div id="view" style="float: right ;margin-left:40px;" ;>
		<form id="form1" action="/TCH/get_mdl_course_marks/" method="post">
			{% csrf_token %}
			<input id= "getmarks" type="submit" value="Get Marks"  /> 
		</form>
	</div>
</div>
<style type="text/css">  
	#dpdetail{
		color:white;
		text-align:center;
		padding:5px;
    /*position: relative;
    float: left;
    display: block ;
    width: 502px ;*/
    background-color: #FF8000;
}
#st1 {
	color:red;
}
#st2{
	color:green;
}
</style>
<div id="showdata" style="margin-top:130px ; float: center; position: relative; width: 250px; height:365px;overflow:auto ; ">
	<table id="table_show" class="table table-hover table-bordered"   >
		<tr align="center" bgcolor="#DEB887">
			<th> {{uid}} </th>
			<th> {{ Marks }} </th>
		</tr>
		{% for item in query_results %}
		<tr> 
			{% for item1 in item %}
			<td>{{ item1}}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}     
